<%= render "shared/header" %>
<body>
<%# 診断結果のパラメーターを持たせる非表示部分 %>
  <div hidden>
    <span id="r_score">
      <%= @test.r_score %>
    </span>
    <span id="y_score">
      <%= @test.y_score %>
    </span>
    <span id="b_score">
      <%= @test.b_score %>
    </span>
    <span id="g_score">
      <%= @test.g_score %>
    </span>
    <span id="color_id">
      <%= @test.color_id %>
    </span>
  </div>
<%# /診断結果のパラメーターを持たせる非表示部分 %>

<div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">ニックネーム</label>
    </div>
    <%= @user.nickname %>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">メールアドレス</label>
    </div>
    <%= @user.email %>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">お名前(全角)</label>
    </div>
      <%= @user.last_name%>
      <%= @user.first_name%>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">性別</label>
    </div>
      <%= @user.gender%>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">生年月日</label>
    </div>
      <%= @user.birthday %>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">性格タイプ</label>
    </div>
      <%= Color.find(@test.color_id).name %>
  </div>
<%# 診断結果 %>
  <div class="result">
    <div class="result-statement">
      あなたの性格タイプは<span class="color" id = <%= @test.color_id %>><%= Color.find(@test.color_id).name %></span>です
    </div>
    <div class="box">
      <canvas id="myChart" width="400" height="400"></canvas>
    </div>
  </div>
<%# /診断結果 %>
<%# 診断結果説明文 部分テンプレート %>
  <div class="color-explanation">
    <% case @test.color_id %>
      <% when 1 then %>
        <%= render 'shared/red' %>
      <% when 2 then %>
        <%= render 'shared/yellow' %>
      <% when 3 then %>
        <%= render 'shared/blue' %>
      <% when 4 then %>
        <%= render 'shared/green' %>
    <% end %>
  </div>
<%# /診断結果説明文 部分テンプレート %>
<%# 他のユーザーの結果を見るボタン %>
<div class="show_page_bottom">
  <% if user_signed_in? %>
    <div class="look_btn">
      <%= link_to '他のユーザーの結果を見る', analysis_tests_path %>
    </div>
  <% else %>
    <%= form_with model:@test, url: new_user_registration_path, method: :get, id: 'test-form', local: true do |f| %>
      <div class="send_btn">
        <%= f.submit "他のユーザーの結果を見る" %>
      </div>
    <% end %>
  <% end %>
</div>
<%# 他のユーザーの結果を見るボタン %>
</body>
<%= render "shared/footer" %>

<%# Chart.js %>
<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    const rScore = document.getElementById("r_score").innerHTML
    const yScore = document.getElementById("y_score").innerHTML
    const bScore = document.getElementById("b_score").innerHTML
    const gScore = document.getElementById("g_score").innerHTML
    const colorId = document.getElementById("color_id").innerHTML
    const CHART_COLORS = {
      red: 'rgba(255, 99, 132, 0.5)',
      orange: 'rgba(255, 159, 64, 0.5)',
      yellow: 'rgba(255, 205, 86, 0.5)',
      green: 'rgba(75, 192, 192, 0.5)',
      blue: 'rgba(54, 162, 235, 0.5)',
      purple: 'rgba(153, 102, 255, 0.5)',
      grey: 'rgba(201, 203, 207, 0.5)'
    };
    if (colorId == 1){
      var CHART_COLOR = CHART_COLORS.red
    } else if (colorId == 2){
      var CHART_COLOR = CHART_COLORS.yellow
    } else if (colorId == 3){
      var CHART_COLOR = CHART_COLORS.blue
    } else if (colorId == 4){
      var CHART_COLOR = CHART_COLORS.green
    } else {
      var CHART_COLOR = CHART_COLORS.grey
      document.documentElement.style.setProperty('--my-color', CHART_COLOR);
    }
    var myChart = new Chart(ctx, {
      type: 'radar',
      data: {
        labels: ['Red', 'Yellow', 'Blue', 'Green'],
        datasets: [
          {
            label: 'あなたの性格診断結果',
            data: [ `${rScore}` , `${yScore}` , `${bScore}` , `${gScore}` ],
            fill: true,
            backgroundColor: CHART_COLOR,
            borderColor: CHART_COLOR,
            pointBackgroundColor: CHART_COLOR,
            pointBorderColor: '#fff',
            pointHoverBackgroundColor: '#fff',
            pointHoverBorderColor: CHART_COLOR
          }
        ]
      },  
      options: {
        responsive: true,
        elements: {
          line: {
            borderWidth: 3
          }
        },
        scale: {
          r: {
            pointLabels: {
              color: 'red'
            },
            min: 0,
            max: 80,
            ticks: {
              font: {
                size: 15,
                family: "'Open Sans', sans-serif",
              }
            }
          }
        }
      }
    });
  </script>
  <%# /Chart.js %>
