<%= render "shared/header" %>
<body>
<%# 診断結果のパラメーターを持たせる非表示部分 %>
  <div hidden>
    <span id="r_length">
      <%= @r_users.length %>
    </span>
    <span id="y_length">
      <%= @y_users.length %>
    </span>
    <span id="b_length">
      <%= @b_users.length %>
    </span>
    <span id="g_length">
      <%= @g_users.length %>
    </span>
    <span id="g_users">
      <% @g_users.each_with_index do |g_user| %>
        <span class="g_users", data-userId=<%= g_user.attributes["test_id"] %> >
          <% g_user_score={
          r_score: @tests.find(g_user.attributes["test_id"]).attributes["r_score"],
          y_score: @tests.find(g_user.attributes["test_id"]).attributes["y_score"],
          b_score: @tests.find(g_user.attributes["test_id"]).attributes["b_score"],
          g_score: @tests.find(g_user.attributes["test_id"]).attributes["g_score"]} %>
        </span>
      <% end %>
    </span>
    <% users_hash = {} %>
    <% @users.each_with_index do |user| %>
        <span class="users", data-userId=<%= user.attributes["test_id"] %> >
          <%= users_hash["#{user.attributes["id"]}"] = {
          r_score: @tests.find(user.attributes["test_id"]).attributes["r_score"],
          y_score: @tests.find(user.attributes["test_id"]).attributes["y_score"],
          b_score: @tests.find(user.attributes["test_id"]).attributes["b_score"],
          g_score: @tests.find(user.attributes["test_id"]).attributes["g_score"]} %>
        </span>
      <% end %>
    <span id="users_hash">
      <%= users_hash %>
    </span>
  </div>
<%# /診断結果のパラメーターを持たせる非表示部分 %>
<%# 診断結果 %>
  <div class="result">
    <div class="result-statement">
      他のユーザーの診断結果はこちら
    </div>
    <%# 円グラフ %>
    <div class="box">
      <canvas id="myPieChart" width="400" height="400"></canvas>
    </div>
    <%# /円グラフ %>
    <%# 散布図 %>
    <div class="box">
      <canvas id="myScatterChart" width="400" height="400"></canvas>
    </div>
    <%# /散布図 %>
  </div>
<%# /診断結果 %>
<%# 他のユーザーの結果を見るボタン %>
</body>
<%= render "shared/footer" %>

<%# Chart.js %>
<script>
    var ctx = document.getElementById('myPieChart').getContext('2d');
    const rLength = document.getElementById("r_length").innerHTML
    const yLength = document.getElementById("y_length").innerHTML
    const bLength = document.getElementById("b_length").innerHTML
    const gLength = document.getElementById("g_length").innerHTML
    const CHART_COLORS = {
      red: 'rgb(255, 99, 132, 0.5)',
      orange: 'rgb(255, 159, 64, 0.5)',
      yellow: 'rgb(255, 205, 86, 0.5)',
      green: 'rgb(75, 192, 192, 0.5)',
      blue: 'rgb(54, 162, 235, 0.5)',
      purple: 'rgb(153, 102, 255, 0.5)',
      grey: 'rgb(201, 203, 207, 0.5)'
    };

    var myPieChart = new Chart(ctx, {
      type: 'pie',
      data: {
        labels: ['Red', 'Yellow', 'Blue', 'Green'],
        datasets: [
          {
            label: '他のユーザーの診断結果',
            data: [ `${rLength}` , `${yLength}` , `${bLength}` , `${gLength}` ],
            fill: true,
            backgroundColor: [ CHART_COLORS.red, CHART_COLORS.yellow, CHART_COLORS.blue, CHART_COLORS.green ]
          }
        ]
      },  
      options: {
        responsive: true,
        elements: {
          line: {
            borderWidth: 3
          }
        },
        scale: {
          }
        }
    });

    const usersHash = document.getElementById("users_hash").innerHTML
    console.log(usersHash["1"])
    var myScatterChart = new Chart(ctx, {
      type: 'Scatter',
      data: {
        labels: ['Red↔︎Yellow', 'Blue↔︎Green'],
        datasets: [
          {
            label: '他のユーザーの診断結果',
            data: [ `${rLength}` , `${bLength}` ],
            fill: true,
            backgroundColor: [ CHART_COLORS.red, CHART_COLORS.yellow, CHART_COLORS.blue, CHART_COLORS.green ]
          }
        ]
      },  
      options: {
        responsive: true,
        elements: {
          line: {
            borderWidth: 3
          }
        },
        scale: {
          }
        }
    });
  </script>
  <%# /Chart.js %>
