<%= render "shared/header" %>
<body>
<%# 診断結果 %>
  <div class="result">
    <div>
      <div>
        全ユーザーの診断結果はこちら
      </div>
      <%# 円グラフ %>
      <div class="box">
        <canvas id="myPieChart" width="400" height="400"></canvas>
      </div>
      <%# /円グラフ %>
    </div>
    <div class="charts">
      <%# 男性ユーザーの円グラフ %>
      <div>
        <div>
          男性ユーザーの診断結果はこちら
        </div>
        <div class="box">
          <canvas id="myPieChartM" width="200" height="200"></canvas>
        </div>
      </div>
      <%# /男性ユーザーの円グラフ %>
      <%# 女性ユーザーの円グラフ %>
      <div>
        <div>
          女性ユーザーの診断結果はこちら
        </div>
        <div class="box">
          <canvas id="myPieChartF" width="200" height="200"></canvas>
        </div>
      </div>
      <%# /女性ユーザーの円グラフ %>
    </div>
    <%# ユーザーの結果表示 %>
    <div class="form-group">
      <% @users.each do |user| %>
        <% if user.test_id %>
          <span>
            <div class='form-text-wrap'><%= link_to user.nickname, user_path(user.id) %></div>
          </span>
        <% end %>
      <% end %>
    </div>
    <%# /ユーザーの結果表示 %>
    <%# 散布図 %>
    <div class="box">
      <canvas id="myScatterChart" width="400" height="400"></canvas>
    </div>
    <%# /散布図 %>
  </div>
<%# /診断結果 %>
<%# 他のユーザーの結果を見るボタン %>
</body>
<%= render "shared/footer" %>

<%# 診断結果のパラメーターを持たせる非表示部分 %>
  <div hidden>
    <span id="r_length">
      <%= @r_users.length %>
    </span>
    <span id="y_length">
      <%= @y_users.length %>
    </span>
    <span id="b_length">
      <%= @b_users.length %>
    </span>
    <span id="g_length">
      <%= @g_users.length %>
    </span>
    <span id="r_m_length">
      <%= @r_users_m.length %>
    </span>
    <span id="y_m_length">
      <%= @y_users_m.length %>
    </span>
    <span id="b_m_length">
      <%= @b_users_m.length %>
    </span>
    <span id="g_m_length">
      <%= @g_users_m.length %>
    </span>
    <span id="r_f_length">
      <%= @r_users_f.length %>
    </span>
    <span id="y_f_length">
      <%= @y_users_f.length %>
    </span>
    <span id="b_f_length">
      <%= @b_users_f.length %>
    </span>
    <span id="g_f_length">
      <%= @g_users_f.length %>
    </span>
  </div>
<%# /診断結果のパラメーターを持たせる非表示部分 %>
<%# Chart.js %>
<script>
    var ctx = document.getElementById('myPieChart').getContext('2d');
    const rLength = document.getElementById("r_length").innerHTML
    const yLength = document.getElementById("y_length").innerHTML
    const bLength = document.getElementById("b_length").innerHTML
    const gLength = document.getElementById("g_length").innerHTML
    const CHART_COLORS = {
      red: 'rgba(255, 99, 132, 0.5)',
      orange: 'rgba(255, 159, 64, 0.5)',
      yellow: 'rgba(255, 205, 86, 0.5)',
      green: 'rgba(75, 192, 192, 0.5)',
      blue: 'rgba(54, 162, 235, 0.5)',
      purple: 'rgba(153, 102, 255, 0.5)',
      grey: 'rgba(201, 203, 207, 0.5)'
    };

    var myPieChart = new Chart(ctx, {
      type: 'pie',
      data: {
        labels: ['Red', 'Yellow', 'Blue', 'Green'],
        datasets: [
          {
            label: '他のユーザーの診断結果',
            data: [ `${rLength}` , `${yLength}` , `${bLength}` , `${gLength}` ],
            fill: true,
            backgroundColor: [ CHART_COLORS.red, CHART_COLORS.yellow, CHART_COLORS.blue, CHART_COLORS.green ]
          }
        ]
      },  
      options: {
        responsive: true,
        elements: {
          line: {
            borderWidth: 3
          }
        }
      }
    });

    var ctx = document.getElementById('myPieChartM').getContext('2d');
    const rLengthM = document.getElementById("r_m_length").innerHTML
    const yLengthM = document.getElementById("y_m_length").innerHTML
    const bLengthM = document.getElementById("b_m_length").innerHTML
    const gLengthM = document.getElementById("g_m_length").innerHTML

    var myPieChartM = new Chart(ctx, {
      type: 'pie',
      data: {
        labels: ['Red', 'Yellow', 'Blue', 'Green'],
        datasets: [
          {
            label: '男性ユーザーの診断結果',
            data: [ `${rLengthM}` , `${yLengthM}` , `${bLengthM}` , `${gLengthM}` ],
            fill: true,
            backgroundColor: [ CHART_COLORS.red, CHART_COLORS.yellow, CHART_COLORS.blue, CHART_COLORS.green ]
          }
        ]
      },  
      options: {
        responsive: true,
        elements: {
          line: {
            borderWidth: 3
          }
        }
      }
    });

    var ctx = document.getElementById('myPieChartF').getContext('2d');
    const rLengthF = document.getElementById("r_f_length").innerHTML
    const yLengthF = document.getElementById("y_f_length").innerHTML
    const bLengthF = document.getElementById("b_f_length").innerHTML
    const gLengthF = document.getElementById("g_f_length").innerHTML

    var myPieChartM = new Chart(ctx, {
      type: 'pie',
      data: {
        labels: ['Red', 'Yellow', 'Blue', 'Green'],
        datasets: [
          {
            label: '女性ユーザーの診断結果',
            data: [ `${rLengthF}` , `${yLengthF}` , `${bLengthF}` , `${gLengthF}` ],
            fill: true,
            backgroundColor: [ CHART_COLORS.red, CHART_COLORS.yellow, CHART_COLORS.blue, CHART_COLORS.green ]
          }
        ]
      },  
      options: {
        responsive: true,
        elements: {
          line: {
            borderWidth: 3
          }
        }
      }
    });

    const usersHash = document.getElementById("users_hash").innerHTML
    console.log(usersHash["1"])
    var myScatterChart = new Chart(ctx, {
      type: 'Scatter',
      data: {
        labels: ['Red↔︎Yellow', 'Blue↔︎Green'],
        datasets: [
          {
            label: '他のユーザーの診断結果',
            data: [ `${rLength}` , `${bLength}` ],
            fill: true,
            backgroundColor: [ CHART_COLORS.red, CHART_COLORS.yellow, CHART_COLORS.blue, CHART_COLORS.green ]
          }
        ]
      },  
      options: {
        responsive: true,
        elements: {
          line: {
            borderWidth: 3
          }
        }
      }
    });
  </script>
  <%# /Chart.js %>
