<%= render "shared/header" %>
<body>
<%# 診断結果説明文 部分テンプレート %>
  <div class="color-explanation">
    <%= render 'shared/red' %>
    <%= render 'shared/yellow' %>
    <%= render 'shared/blue' %>
    <%= render 'shared/green' %>
  </div>
<%# /診断結果説明文 部分テンプレート %>
</body>
<%= render "shared/footer" %>