<%= render "shared/header" %>

<body>
  <div class="title-contents">
    <p>無料性格診断テスト</p>
  </div>
  <div class='main'>
    <%# 診断テストフォーム %>
    <%= form_with model:@test, url: tests_path, id: 'test-form', local: true do |f| %>

      <%# 診断テスト前半部分 %>
      <%# 診断テスト前半部分説明文 %>
      <div class="test_explanation">
        <div class="test_explanation_item">
          質問一つにつき、4つの回答があります。
          一番あてはまるものから一番あてはまらないものまで順番をつけてください。
        </div>
      </div>
      <%# /診断テスト前半部分説明文 %>
      <div class="first_test_items">
        <% Question.all.each_with_index do |question,num| %>
          <div class="first_test_item">
            <%# 診断テスト設問文 %>
            <div class="question">
              <%= Question.find(num+1).name %>
            </div>
            <%# /診断テスト設問文 %>
            <%# 選択肢 %>
            <table class="answer">
              <tr class="answer_title">
                <th></th>
                <th>一番あてはまる</th>
                <th>二番目にあてはまる</th>
                <th>三番目にあてはまる</th>
                <th>最もあてはまらない</th>
              </tr>
              <% (num*4+1..num*4+4).each do |i| %>
                <tr class="item_description">
                  <th><%= Item.find(i).name %></th>
                  <td class="button", id=<%= i %> data-val = 6>
                    <%= f.radio_button "item#{i}", 6 %>
                  </td>
                  <td class="button", id=<%= i %> data-val = 4>
                    <%= f.radio_button "item#{i}", 4 %>
                  </td>
                  <td class="button", id=<%= i %> data-val = 2>
                    <%= f.radio_button "item#{i}", 2 %>
                  </td>
                  <td class="button", id=<%= i %> data-val = 0>
                    <%= f.radio_button "item#{i}", 0 %>
                  </td>
                </tr>
              <% end %>
            </table>
            <%# /選択肢 %>
          </div>
        <% end %>
      </div>
      <%# /診断テスト前半部分 %>

      <%# 診断テスト後半部分 %>
      <%# 診断テスト後半部分説明文 %>
      <div class="test_explanation">
        <div class="test_explanation_item">
          AとBのふたつのことばがあります。<br>
          今のあなたにどちらがあてはまるかを選んでください。
        </div>
      </div>
      <%# /診断テスト後半部分説明文 %>
      <%# 設問文・選択肢 %>
      <div class="second_test_items">
        <% (33..56).each_slice(2) do |nums| %>
          <table class="second_test_item">
            <tr class="option_title">
              <td></td>
              <td>完全にA</td>
              <td>どちらかというとA</td>
              <td>どちらも同じくらい</td>
              <td>どちらかというとB</td>
              <td>完全にB</td>
              <td></td>
            </tr>
            <tr>
              <td class="option_a_description">
                A: <%= Item.find(nums.at(0)).name %>
              </td>
              <td class="a_button", id=<%= nums.at(0) %> data-val = 4>
                <%= f.radio_button "item#{nums.at(0)}", 4 %>
              </td>
              <td class="a_button", id=<%= nums.at(0) %> data-val = 3>
                <%= f.radio_button "item#{nums.at(0)}", 3 %>
              </td>
              <td class="a_button", id=<%= nums.at(0) %> data-val = 2>
                <%= f.radio_button "item#{nums.at(0)}", 2 %>
              </td>
              <td class="a_button", id=<%= nums.at(0) %> data-val = 1>
                <%= f.radio_button "item#{nums.at(0)}", 1 %>
              </td>
              <td class="a_button", id=<%= nums.at(0) %> data-val = 0>
                <%= f.radio_button "item#{nums.at(0)}", 0 %>
              </td>
              <td class="option_b_description">
                B: <%= Item.find(nums.at(1)).name %>
              </td>
            </tr>
            <%# 選択肢Bの値を得るための非表示部分 %>
            <tr hidden>
              <td class="option_a_description">
                A: <%= Item.find(nums.at(0)).name %>
              </td>
              <td class="b_button", id=<%= nums.at(1) %>>
                <%= f.radio_button "item#{nums.at(1)}", 0, {:checked => true} %>
              </td>
              <td class="b_button", id=<%= nums.at(1) %>>
                <%= f.radio_button "item#{nums.at(1)}", 1 %>
              </td>
              <td class="b_button", id=<%= nums.at(1) %>>
                <%= f.radio_button "item#{nums.at(1)}", 2 %>
              </td>
              <td class="b_button", id=<%= nums.at(1) %>>
                <%= f.radio_button "item#{nums.at(1)}", 3 %>
              </td>
              <td class="b_button", id=<%= nums.at(1) %>>
                <%= f.radio_button "item#{nums.at(1)}", 4 %>
              </td>
              <td class="option_b_description">
                B: <%= Item.find(nums.at(1)).name %>
              </td>
            </tr>
            <%# /選択肢Bの値を得るための非表示部分 %>
          </table>
        <% end %>
      </div>
      <%# /設問文・選択肢 %>
      <%# /診断テスト後半部分 %>

      <%# 送信ボタン %>
      <div class="page_bottom">
        <div class="send_btn">
          <%= f.submit "診断する" %>
        </div>
      </div>
      <%# /送信ボタン %>
    <% end %>
  </div>

</body>
<%= render "shared/footer" %>